name: Deploy to Test Server

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker
        run: |
          docker --version
          docker ps

      - name: Build Docker image with docker-compose
        run: |
          docker compose build
          docker save sonar:latest > sonar-app.tar

      - name: Copy image to Test Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.TEST_SERVER_IP }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          source: "sonar-app.tar"
          target: "${{ secrets.SERVER_PATH }}"

      - name: Debug connection
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TEST_SERVER_IP }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          script: |
            echo
            hostname
            whoami
            ls -la ${{ secrets.SERVER_PATH }}

      - name: Deploy on Test Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TEST_SERVER_IP }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            mkdir -p uploads
            docker stop sonar-app || true
            docker rm sonar-app || true
            docker rmi sonar:latest || true
            docker load < sonar-app.tar
            docker run -d --name sonar-app \
              -p 8080:8080 -p 8081:8081 \
              -v "$PWD/uploads:/app/wwwroot/uploads" \
              -e Jwt__Key="${{ secrets.JWT_KEY }}" \
              -e Jwt__Issuer="${{ secrets.JWT_ISSUER }}" \
              -e Jwt__Audience="${{ secrets.JWT_AUDIENCE }}" \
              -e Mailgun__ApiKey="${{ secrets.MAILGUN_API_KEY }}" \
              -e Mailgun__Domain="${{ secrets.MAILGUN_DOMAIN }}" \
              -e Mailgun__From="${{ secrets.MAILGUN_FROM }}" \
              -e ConnectionStrings__SonarContext="${{ secrets.CONNECTION_STRING }}" \
              sonar:latest
